:root {
  --f-base-family: 'Roboto', Helvetica, Arial, sans-serif;
  --f-root-size: 10px;
  --f-base-size: 1.4rem;
  --f-base-height: 1.6;

  --color-black: #000;
  --color-white: #fff;

  --duration: 0.3s;
  --duration-fast: 0.3s;
  --easing: cubic-bezier(0.25, 0.8, 0.5, 1);
}
